.footer {
    height: fit-content;
    margin-top: 2em;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    align-items: center;

    > span {
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}
