@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format ('truetype');
}

:root {
    --color-text: #ffffff;
    --color-brand: #74c164;
    --color-link-hover: var(--color-brand);
    --font-family-sans: 'Open Sans', sans-serif;
}

html,
body {
    width: 100vw;
}

body {
    margin: 0;
    padding-bottom: 4rem;
    overflow-x: hidden;
    background-color: #101114;
    background-image: url('/images/background.svg');
    background-repeat: revert;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
@media all and (orientation: portrait) {
    body {
        background-size: auto calc(100% + 4vh);
    }
}
@media all and (orientation: landscape) {
    body {
        background-size: calc(100% + 4vw) auto;
    }
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
    font-family: var(--font-family-sans);
}

body > * {
    margin-inline: 8px;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

/* Intro */
.intro {
    margin-top: 10rem;
    margin-bottom: 1rem;
    max-width: 400px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.intro p {
    text-align: center;
}

.logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.intro > nav {
    justify-content: center;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav > a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
}

/* Main */
section {
    width: 750px;
    max-width: 90vw;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: start;
}

.grid > article {
    flex: 1 1 0px;
    min-width: 180px;
    max-width: 400px;
}

.grid > article > h2 {
    word-break: break-word;
}

.grid nav {
    margin-top: -1em;
    font-size: 0.8em;
}

/* Scrollbar */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
